In [26]:
!apt-get update -y
!apt-get install postgresql postgresql-contrib -y
!service postgresql start
!sudo -u postgres psql -c "ALTER USER postgres PASSWORD 'postgres';"
!sudo -u postgres createdb bd4

Hit:1 https://cli.github.com/packages stable InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:4 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:5 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:6 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:7 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:8 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
postgresql is already the newest version (14+238).
postgresql-contrib is already the newest version (14+238).
0 upgraded, 0 newly installed, 0 to remove and 63 not upgraded.
 * Starting PostgreSQL 14 database server
   ...done.
ALTER ROLE

In [27]:
script_sql = """
-- -----------------------------------------------------
-- Tabela Clã
-- -----------------------------------------------------
CREATE TABLE Cla (
    id_cla VARCHAR(5) PRIMARY KEY,
    nome VARCHAR(100)
);

-- -----------------------------------------------------
-- Tabela Vila
-- -----------------------------------------------------
CREATE TABLE Vila (
    id_vila VARCHAR(5) PRIMARY KEY,
    nome VARCHAR(100)
);

-- -----------------------------------------------------
-- Tabela Missao
-- -----------------------------------------------------
CREATE TABLE Missao (
    id_missao VARCHAR(5) PRIMARY KEY,
    descricao TEXT,
    ranking CHAR(1)
);

-- -----------------------------------------------------
-- Tabela Time
-- -----------------------------------------------------
CREATE TABLE Time (
    id_time VARCHAR(5) PRIMARY KEY,
    nome VARCHAR(100)
);

-- -----------------------------------------------------
-- Tabela Invocacao
-- -----------------------------------------------------
CREATE TABLE Invocacao (
    id_invocacao VARCHAR(5) PRIMARY KEY,
    nome_invocacao VARCHAR(100)
);

-- -----------------------------------------------------
-- Tabela Chakra
-- -----------------------------------------------------
CREATE TABLE Chakra (
    id_chakra VARCHAR(5) PRIMARY KEY,
    natureza VARCHAR(100),
    cor VARCHAR(50),
    rotacao VARCHAR(50)
);

-- -----------------------------------------------------
-- Tabela Jutsu
-- -----------------------------------------------------
CREATE TABLE Jutsu (
    id_jutsu VARCHAR(5) PRIMARY KEY,
    nome_jutsu VARCHAR(100),
    tipo VARCHAR(50)
);

-- -----------------------------------------------------
-- Tabela Arma
-- -----------------------------------------------------
CREATE TABLE Arma (
    id_arma VARCHAR(5) PRIMARY KEY,
    nome_arma VARCHAR(100),
    tipo VARCHAR(50)
);

-- -----------------------------------------------------
-- Tabela Selo
-- -----------------------------------------------------
CREATE TABLE Selo (
    id_selo VARCHAR(5) PRIMARY KEY,
    nome VARCHAR(100)
);

-- -----------------------------------------------------
-- Tabela KekkeiGenkai (agora pode referenciar Cla)
-- -----------------------------------------------------
CREATE TABLE KekkeiGenkai (
    id_kekkei VARCHAR(5) PRIMARY KEY,
    nome_kekkei VARCHAR(100),
    id_cla VARCHAR(5),
    FOREIGN KEY (id_cla) REFERENCES Cla(id_cla)
);

-- -----------------------------------------------------
-- Tabela Sensei (agora pode referenciar Time)
-- -----------------------------------------------------
CREATE TABLE Sensei (
    id_sensei VARCHAR(5) PRIMARY KEY,
    id_time VARCHAR(5),
    FOREIGN KEY (id_time) REFERENCES Time(id_time)
);

-- -----------------------------------------------------
-- Tabela Ninja (agora pode referenciar Vila e Cla)
-- -----------------------------------------------------
CREATE TABLE Ninja (
    id_ninja VARCHAR(5) PRIMARY KEY,
    nome VARCHAR(100),
    idade INT,
    ranking CHAR(1),
    tipo CHAR(1),
    id_vila VARCHAR(5),
    id_cla VARCHAR(5),
    FOREIGN KEY (id_vila) REFERENCES Vila(id_vila),
    FOREIGN KEY (id_cla) REFERENCES Cla(id_cla)
);

-- -----------------------------------------------------
-- Demais tabelas com dependências
-- -----------------------------------------------------
CREATE TABLE Bijuu (
    id_bijuu VARCHAR(5) PRIMARY KEY,
    id_ninja VARCHAR(5),
    nome_bijuu VARCHAR(100),
    FOREIGN KEY (id_ninja) REFERENCES Ninja(id_ninja)
);

CREATE TABLE Hokage (
    id_ninja VARCHAR(5) PRIMARY KEY,
    id_vila VARCHAR(5),
    FOREIGN KEY (id_vila) REFERENCES Vila(id_vila),
    FOREIGN KEY (id_ninja) REFERENCES Ninja(id_ninja)
);

CREATE TABLE Mestres (
    id_aprendiz VARCHAR(5),
    id_mestre VARCHAR(5) PRIMARY KEY,
    especialidade VARCHAR(100),
    FOREIGN KEY (id_aprendiz) REFERENCES Ninja(id_ninja)
);

-- Tabelas de relacionamento
CREATE TABLE Ninja_Arma (
    id_ninja VARCHAR(5),
    id_arma VARCHAR(5),
    PRIMARY KEY (id_ninja, id_arma),
    FOREIGN KEY (id_ninja) REFERENCES Ninja(id_ninja),
    FOREIGN KEY (id_arma) REFERENCES Arma(id_arma)
);

CREATE TABLE Ninja_Invocacao (
    id_ninja VARCHAR(5),
    id_invocacao VARCHAR(5),
    PRIMARY KEY (id_ninja, id_invocacao),
    FOREIGN KEY (id_ninja) REFERENCES Ninja(id_ninja),
    FOREIGN KEY (id_invocacao) REFERENCES Invocacao(id_invocacao)
);

CREATE TABLE Ninja_Chakra (
    id_ninja VARCHAR(5),
    id_chakra VARCHAR(5),
    PRIMARY KEY (id_ninja, id_chakra),
    FOREIGN KEY (id_ninja) REFERENCES Ninja(id_ninja),
    FOREIGN KEY (id_chakra) REFERENCES Chakra(id_chakra)
);

CREATE TABLE Jutsu_Chakra (
    id_jutsu VARCHAR(5),
    id_chakra VARCHAR(5),
    PRIMARY KEY (id_jutsu, id_chakra),
    FOREIGN KEY (id_jutsu) REFERENCES Jutsu(id_jutsu),
    FOREIGN KEY (id_chakra) REFERENCES Chakra(id_chakra)
);

CREATE TABLE Selo_Jutsu (
    id_selo VARCHAR(5),
    id_jutsu VARCHAR(5),
    PRIMARY KEY (id_selo, id_jutsu),
    FOREIGN KEY (id_selo) REFERENCES Selo(id_selo),
    FOREIGN KEY (id_jutsu) REFERENCES Jutsu(id_jutsu)
);

CREATE TABLE Ninja_Time (
    id_ninja VARCHAR(5),
    id_time VARCHAR(5),
    PRIMARY KEY (id_ninja, id_time),
    FOREIGN KEY (id_ninja) REFERENCES Ninja(id_ninja),
    FOREIGN KEY (id_time) REFERENCES Time(id_time)
);

CREATE TABLE Time_Missao (
    id_missao VARCHAR(5),
    id_time VARCHAR(5),
    PRIMARY KEY (id_missao, id_time),
    FOREIGN KEY (id_missao) REFERENCES Missao(id_missao),
    FOREIGN KEY (id_time) REFERENCES Time(id_time)
);

CREATE TABLE Ninja_Kekkei (
    id_ninja VARCHAR(5),
    id_kekkei VARCHAR(5),
    PRIMARY KEY (id_ninja, id_kekkei),
    FOREIGN KEY (id_ninja) REFERENCES Ninja(id_ninja),
    FOREIGN KEY (id_kekkei) REFERENCES KekkeiGenkai(id_kekkei)
);

-- Inserção de dados
INSERT INTO Cla (id_cla, nome) VALUES
('001', 'Uchiha'),
('002', 'Terumi'),
('003', 'Kazekages');

"""
with open("script.sql", "w") as f:
    f.write(script_sql)

!sudo -u postgres psql -d bd4 -f script.sql

CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
psql:script.sql:144: ERROR:  column "id" named in key does not exist
LINE 4:     PRIMARY KEY (id, id_arma),
            ^
CREATE TABLE
psql:script.sql:160: ERROR:  column "id" named in key does not exist
LINE 4:     PRIMARY KEY (id, id_chakra),
            ^
CREATE TABLE
CREATE TABLE
CREATE TABLE
psql:script.sql:192: ERROR:  column "id" referenced in foreign key constraint does not exist
psql:script.sql:200: ERROR:  column "id_ninja" referenced in foreign key constraint does not exist
INSERT 0 3

In [28]:
!pip install psycopg2-binary

import psycopg2
import pandas as pd

conn = psycopg2.connect(
    dbname="bd4",
    user="postgres",
    password="postgres",
    host="localhost"
)

cur = conn.cursor()
query = "SELECT * FROM Cla;"
cur.execute(query)
df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
print(df)
df.to_csv("Cla.csv", index=False)
print("CSV gerado com sucesso!")
cur.close()
conn.close()

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.12/dist-packages (2.9.11)
  id_cla       nome
0    001     Uchiha
1    002     Terumi
2    003  Kazekages
CSV gerado com sucesso!

In [29]:
conn = psycopg2.connect(
    dbname="bd4",
    user="postgres",
    password="postgres",
    host="localhost"
)

cur = conn.cursor()

# 1. INSERT (não retorna dados)
query_insert = """INSERT INTO Vila(id_vila, nome) VALUES
('001', 'Vila da Folha'),
('002', 'Vila da Areia'),
('003', 'Vila da Névoa');"""
cur.execute(query_insert)
conn.commit()  # ← Salva os dados!
print("3 vilas inseridas com sucesso!")

# 2. SELECT para verificar (agora sim, fetchall())
query_select = "SELECT * FROM Vila;"
cur.execute(query_select)
df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
print(df)
df.to_csv("vila.csv", index=False)
print("CSV gerado com sucesso!")

cur.close()
conn.close()

3 vilas inseridas com sucesso!
  id_vila           nome
0     001  Vila da Folha
1     002  Vila da Areia
2     003  Vila da Névoa
CSV gerado com sucesso!

In [31]:
conn = psycopg2.connect(
    dbname="bd4",
    user="postgres",
    password="postgres",
    host="localhost"
)

cur = conn.cursor()

# 1. INSERT
query_insert = """INSERT INTO Ninja (id_ninja, nome, idade, ranking,tipo, id_vila, id_cla) VALUES
('001', 'Itachi Uchiha', 18, 'S', 'J', '001', '001'),
('002', 'Mei Terumi', 31, 'S','J' , '003', '002'),
('003', 'Gaara', 18, 'S','J' , '002', '003');"""
cur.execute(query_insert)
conn.commit()  # ← Salva os dados!
print("ninjas inseridas com sucesso!")

# 2. SELECT para verificar (agora sim, fetchall())
query_select = "SELECT * FROM Ninja;"
cur.execute(query_select)
df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
print(df)
df.to_csv("ninja.csv", index=False)
print("CSV gerado com sucesso!")

cur.close()
conn.close()

ninjas inseridas com sucesso!
  id_ninja           nome  idade ranking tipo id_vila id_cla
0      001  Itachi Uchiha     18       S    J     001    001
1      002     Mei Terumi     31       S    J     003    002
2      003          Gaara     18       S    J     002    003
CSV gerado com sucesso!

In [34]:
conn = psycopg2.connect(
    dbname="bd4",
    user="postgres",
    password="postgres",
    host="localhost"
)

cur = conn.cursor()

query = """
SELECT
    v.nome AS vila,
    c.nome AS clan,
    n.nome AS ninja,
    n.idade,
    n.ranking,
    n.tipo
FROM Ninja n
JOIN Vila v ON n.id_vila = v.id_vila
JOIN Cla c ON n.id_cla = c.id_cla
ORDER BY v.nome, c.nome, n.nome;
"""

cur.execute(query)
df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
print(df)
df.to_csv("ninjas_completos.csv", index=False)
print("CSV gerado com sucesso!")

            vila       clan          ninja  idade ranking tipo
0  Vila da Areia  Kazekages          Gaara     18       S    J
1  Vila da Folha     Uchiha  Itachi Uchiha     18       S    J
2  Vila da Névoa     Terumi     Mei Terumi     31       S    J
CSV gerado com sucesso!

In [ ]:
# as consultas adicionadas até agora foram para testar! precisa:
# 1. adicionar alguns dados nas tabelas que vão ser usadas para o dw
# 2. fazer aquele esquema do dw