In [72]:
bd_name = "bd6"

!apt-get update -y
!apt-get install postgresql postgresql-contrib -y
!service postgresql start
!sudo -u postgres dropdb --if-exists "$bd_name"
!sudo -u postgres psql -c "ALTER USER postgres PASSWORD 'postgres';"
!sudo -u postgres createdb "$bd_name"

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:2 https://cli.github.com/packages stable InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:4 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:5 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:6 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:7 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:8 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
postgresql is already the newest version (14+238).
postgresql-contrib is already the newest version (14+238).
0 upgraded, 0 newly installed, 0 to remove and 64 not upgraded.
 * Starting PostgreSQL 14 database server
   ...done.
dropdb: error: database removal failed: ERROR:  database "bd6" is being accessed by other users
DETAIL:  There is 1 other session using the database.
ALTER ROLE
createdb: error: database creation failed: ERROR:  database "bd6" already exists

In [73]:
script_sql = """

-- -----------------------------------------------------
-- Tabela Clã
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS Cla (
    id_cla VARCHAR(5) PRIMARY KEY,
    nome_cla VARCHAR(100)
);

-- -----------------------------------------------------
-- Tabela Vila
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS Vila (
    id_vila VARCHAR(5) PRIMARY KEY,
    nome_vila VARCHAR(100)
);

-- -----------------------------------------------------
-- Tabela Missao
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS Missao (
    id_missao VARCHAR(5) PRIMARY KEY,
    descricao TEXT,
    ranking CHAR(1)
);

-- -----------------------------------------------------
-- Tabela Time
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS Time (
    id_time VARCHAR(5) PRIMARY KEY,
    nome_time VARCHAR(100)
);

-- -----------------------------------------------------
-- Tabela Invocacao
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS Invocacao (
    id_invocacao VARCHAR(5) PRIMARY KEY,
    nome_invocacao VARCHAR(100)
);

-- -----------------------------------------------------
-- Tabela Chakra
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS Chakra (
    id_chakra VARCHAR(5) PRIMARY KEY,
    natureza VARCHAR(100),
    cor VARCHAR(50),
    rotacao VARCHAR(50)
);

-- -----------------------------------------------------
-- Tabela Jutsu
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS Jutsu (
    id_jutsu VARCHAR(5) PRIMARY KEY,
    nome_jutsu VARCHAR(100),
    tipo_jutsu VARCHAR(50)
);

-- -----------------------------------------------------
-- Tabela Arma
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS Arma (
    id_arma VARCHAR(5) PRIMARY KEY,
    nome_arma VARCHAR(100),
    tipo_arma VARCHAR(50)
);

-- -----------------------------------------------------
-- Tabela Selo
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS Selo (
    id_selo VARCHAR(5) PRIMARY KEY,
    nome_selo VARCHAR(100)
);

-- -----------------------------------------------------
-- Tabela KekkeiGenkai (agora pode referenciar Cla)
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS KekkeiGenkai (
    id_kekkei VARCHAR(5) PRIMARY KEY,
    nome_kekkei VARCHAR(100),
    id_cla VARCHAR(5),
    FOREIGN KEY (id_cla) REFERENCES Cla(id_cla)
);

-- -----------------------------------------------------
-- Tabela Sensei (agora pode referenciar Time)
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS Sensei (
    id_sensei VARCHAR(5) PRIMARY KEY,
    id_time VARCHAR(5),
    FOREIGN KEY (id_time) REFERENCES Time(id_time)
);

-- -----------------------------------------------------
-- Tabela Ninja (agora pode referenciar Vila e Cla)
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS Ninja (
    id_ninja VARCHAR(5) PRIMARY KEY,
    nome_ninja VARCHAR(100),
    idade INT,
    ranking CHAR(1),
    tipo CHAR(1),
    id_vila VARCHAR(5),
    id_cla VARCHAR(5),
    FOREIGN KEY (id_vila) REFERENCES Vila(id_vila),
    FOREIGN KEY (id_cla) REFERENCES Cla(id_cla)
);

-- -----------------------------------------------------
-- Demais tabelas com dependências
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS Bijuu (
    id_bijuu VARCHAR(5) PRIMARY KEY,
    id_ninja VARCHAR(5),
    nome_bijuu VARCHAR(100),
    FOREIGN KEY (id_ninja) REFERENCES Ninja(id_ninja)
);

CREATE TABLE IF NOT EXISTS Hokage (
    id_ninja VARCHAR(5) PRIMARY KEY,
    id_vila VARCHAR(5),
    FOREIGN KEY (id_vila) REFERENCES Vila(id_vila),
    FOREIGN KEY (id_ninja) REFERENCES Ninja(id_ninja)
);

CREATE TABLE IF NOT EXISTS Mestres (
    id_aprendiz VARCHAR(5),
    id_mestre VARCHAR(5) PRIMARY KEY,
    especialidade VARCHAR(100),
    FOREIGN KEY (id_aprendiz) REFERENCES Ninja(id_ninja),
    FOREIGN KEY (id_mestre) REFERENCES Ninja(id_ninja)
);

-- Tabelas de relacionamento
CREATE TABLE IF NOT EXISTS Ninja_Arma (
    id_ninja VARCHAR(5),
    id_arma VARCHAR(5),
    PRIMARY KEY (id_ninja, id_arma),
    FOREIGN KEY (id_ninja) REFERENCES Ninja(id_ninja),
    FOREIGN KEY (id_arma) REFERENCES Arma(id_arma)
);

CREATE TABLE IF NOT EXISTS Ninja_Invocacao (
    id_ninja VARCHAR(5),
    id_invocacao VARCHAR(5),
    PRIMARY KEY (id_ninja, id_invocacao),
    FOREIGN KEY (id_ninja) REFERENCES Ninja(id_ninja),
    FOREIGN KEY (id_invocacao) REFERENCES Invocacao(id_invocacao)
);

CREATE TABLE IF NOT EXISTS Ninja_Chakra (
    id_ninja VARCHAR(5),
    id_chakra VARCHAR(5),
    PRIMARY KEY (id_ninja, id_chakra),
    FOREIGN KEY (id_ninja) REFERENCES Ninja(id_ninja),
    FOREIGN KEY (id_chakra) REFERENCES Chakra(id_chakra)
);

CREATE TABLE IF NOT EXISTS Jutsu_Chakra (
    id_jutsu VARCHAR(5),
    id_chakra VARCHAR(5),
    PRIMARY KEY (id_jutsu, id_chakra),
    FOREIGN KEY (id_jutsu) REFERENCES Jutsu(id_jutsu),
    FOREIGN KEY (id_chakra) REFERENCES Chakra(id_chakra)
);

CREATE TABLE IF NOT EXISTS Selo_Jutsu (
    id_selo VARCHAR(5),
    id_jutsu VARCHAR(5),
    PRIMARY KEY (id_selo, id_jutsu),
    FOREIGN KEY (id_selo) REFERENCES Selo(id_selo),
    FOREIGN KEY (id_jutsu) REFERENCES Jutsu(id_jutsu)
);

CREATE TABLE IF NOT EXISTS Ninja_Time (
    id_ninja VARCHAR(5),
    id_time VARCHAR(5),
    PRIMARY KEY (id_ninja, id_time),
    FOREIGN KEY (id_ninja) REFERENCES Ninja(id_ninja),
    FOREIGN KEY (id_time) REFERENCES Time(id_time)
);

CREATE TABLE IF NOT EXISTS Time_Missao (
    id_missao VARCHAR(5),
    id_time VARCHAR(5),
    PRIMARY KEY (id_missao, id_time),
    FOREIGN KEY (id_missao) REFERENCES Missao(id_missao),
    FOREIGN KEY (id_time) REFERENCES Time(id_time)
);

CREATE TABLE IF NOT EXISTS Ninja_Kekkei (
    id_ninja VARCHAR(5),
    id_kekkei VARCHAR(5),
    PRIMARY KEY (id_ninja, id_kekkei),
    FOREIGN KEY (id_ninja) REFERENCES Ninja(id_ninja),
    FOREIGN KEY (id_kekkei) REFERENCES KekkeiGenkai(id_kekkei)
);

-- Inserção de dados

INSERT INTO Cla (id_cla, nome_cla) VALUES
('C1', 'Uchiha'),
('C2', 'Hyuga'),
('C3', 'Senju'),
('C4', 'Nara'),
('C5', 'Akimichi'),
('C6', 'Yamanaka'),
('C7', 'Inuzuka'),
('C8', 'Aburame'),
('C9', 'Sarutobi'),
('C10', 'Senju')
ON CONFLICT (id_cla) DO NOTHING;

INSERT INTO Time (id_time, nome_time) VALUES
('T001', 'Time Kakashi'),
('T002', 'Time Asuma'),
('T003', 'Time Kurenai'),
('T004', 'Time Gai'),
('T005', 'Time Minato'),
('T006', 'Time Gaara'),
('T007', 'Time Temari'),
('T008', 'Time Kankuro'),
('T009', 'Time Baki'),
('T010', 'Time da Areia Elite'),
('T011', 'Time Mei Terumi'),
('T012', 'Time Chojuro'),
('T013', 'Time Zabuza'),
('T014', 'Time Espadachins da Névoa'),
('T015', 'Time da Névoa Elite')
ON CONFLICT (id_time) DO NOTHING;

INSERT INTO Vila(id_vila, nome_vila) VALUES
('001', 'Vila da Folha'),
('002', 'Vila da Areia'),
('003', 'Vila da Névoa')
ON CONFLICT (id_vila) DO NOTHING;

INSERT INTO Missao (id_missao, descricao, ranking) VALUES
  ('M001','Proteger o Daimyo em viagem oficial','S'),
  ('M002','Neutralizar organização criminosa internacional','S'),
  ('M003','Capturar ninja renegado de alto nível','S'),
  ('M004','Resgatar reféns em território inimigo','S'),
  ('M005','Eliminar ameaça classe S nas fronteiras','S'),
  ('M006','Destruir base secreta de mercenários','S'),
  ('M007','Escoltar jinchuuriki sob ataque','S'),
  ('M008','Infiltrar-se em vila hostil e coletar informações críticas','S'),
  ('M009','Conter invasão em larga escala','S'),
  ('M010','Investigar desaparecimento de equipe ANBU','S'),

  -- Missões rank A
  ('M011','Capturar bandido classe A nas montanhas','A'),
  ('M012','Proteger caravana de comerciantes internacionais','A'),
  ('M013','Destruir laboratório ilegal de armas ninjas','A'),
  ('M014','Escoltar pesquisador importante até a Vila da Folha','A'),
  ('M015','Interceptar mensageiro inimigo com informações sigilosas','A'),

  -- Missões rank B
  ('M016','Investigar sabotagem em depósitos de suprimentos','B'),
  ('M017','Patrulhar estrada principal entre vilas aliadas','B'),
  ('M018','Capturar grupo de ladrões de pergaminhos','B'),
  ('M019','Proteger engenheiros reconstruindo ponte estratégica','B'),
  ('M020','Resgatar viajantes desaparecidos em floresta densa','B'),

  -- Missões rank C
  ('M021','Escoltar mercadorias pela estrada rural','C'),
  ('M022','Ajudar agricultores durante a colheita','C'),
  ('M023','Buscar ervas medicinais em área distante','C'),
  ('M024','Acompanhar professor em excursão escolar','C'),
  ('M025','Proteger pequeno templo em vila vizinha','C'),

  -- Missões rank D
  ('M026','Entregar documentos simples entre prédios da vila','D'),
  ('M027','Ajudar a limpar praça após festival','D'),
  ('M028','Levar mantimentos ao posto de guarda','D'),
  ('M029','Acompanhar criança até a escola da vila','D'),
  ('M030','Recolher materiais no armazém comunitário','D')
ON CONFLICT (id_missao) DO NOTHING;

INSERT INTO Ninja (id_ninja, nome_ninja, idade, ranking, tipo, id_vila, id_cla) VALUES
    -- Vila da Folha (001) - Clãs clássicos da Folha
    ('N001', 'Itachi Uchiha', 21, 'S', 'J', '001', 'C1'),
    ('N002', 'Sasuke Uchiha', 16, 'A', 'C', '001', 'C1'),
    ('N003', 'Shisui Uchiha', 19, 'S', 'J', '001', 'C1'),
    ('N004', 'Fugaku Uchiha', 40, 'A', 'J', '001', 'C1'),

    ('N005', 'Hinata Hyuga', 16, 'A', 'G', '001', 'C2'),
    ('N006', 'Neji Hyuga', 17, 'A', 'J', '001', 'C2'),
    ('N007', 'Hiashi Hyuga', 42, 'S', 'J', '001', 'C2'),

    ('N008', 'Hashirama Senju', 35, 'S', 'J', '001', 'C3'),
    ('N009', 'Tobirama Senju', 34, 'S', 'J', '001', 'C3'),
    ('N010', 'Tsunade Senju', 36, 'S', 'J', '001', 'C3'),

    ('N011', 'Shikamaru Nara', 16, 'A', 'C', '001', 'C4'),
    ('N012', 'Shikaku Nara', 32, 'S', 'J', '001', 'C4'),

    ('N013', 'Choji Akimichi', 16, 'C', 'G', '001', 'C5'),
    ('N014', 'Choza Akimichi', 34, 'C', 'J', '001', 'C5'),

    ('N015', 'Ino Yamanaka', 16, 'B', 'G', '001', 'C6'),
    ('N016', 'Inoichi Yamanaka', 35, 'A', 'J', '001', 'C6'),

    ('N017', 'Kiba Inuzuka', 16, 'B', 'G', '001', 'C7'),
    ('N018', 'Tsume Inuzuka', 33, 'A', 'J', '001', 'C7'),

    ('N019', 'Shino Aburame', 16, 'A', 'C', '001', 'C8'),
    ('N020', 'Shibi Aburame', 35, 'A', 'J', '001', 'C8'),

    ('N021', 'Hiruzen Sarutobi', 68, 'S', 'J', '001', 'C9'),
    ('N022', 'Asuma Sarutobi', 31, 'A', 'J', '001', 'C9'),
    ('N023', 'Konohamaru Sarutobi', 12, 'C', 'G', '001', 'C9'),

    ('N024', 'Nawaki Senju', 12, 'B', 'G', '001', 'C10'),
    ('N025', 'Arata Senju', 20, 'B', 'C', '001', 'C10'),

    -- Vila da Areia (002) - usando os mesmos 10 clãs já cadastrados
    ('N026', 'Gaara', 16, 'S', 'J', '002', 'C3'),
    ('N027', 'Temari', 17, 'A', 'J', '002', 'C4'),
    ('N028', 'Kankuro', 17, 'A', 'J', '002', 'C5'),
    ('N029', 'Baki', 35, 'A', 'J', '002', 'C4'),
    ('N030', 'Yashamaru', 30, 'B', 'C', '002', 'C6'),
    ('N031', 'Maki', 18, 'B', 'G', '002', 'C6'),
    ('N032', 'Shira', 20, 'A', 'C', '002', 'C5'),
    ('N033', 'Suna Shinobi A', 19, 'C', 'G', '002', 'C7'),
    ('N034', 'Suna Shinobi B', 21, 'C', 'C', '002', 'C8'),
    ('N035', 'Suna Médico', 23, 'B', 'G', '002', 'C8'),

    ('N036', 'Mei Terumi', 30, 'S', 'J', '003', 'C2'),
    ('N037', 'Zabuza Momochi', 26, 'A', 'J', '003', 'C1'),
    ('N038', 'Haku', 15, 'B', 'G', '003', 'C1'),
    ('N039', 'Chojuro', 20, 'A', 'C', '003', 'C4'),
    ('N040', 'Ao', 28, 'A', 'J', '003', 'C6'),
    ('N041', 'Suigetsu Hozuki', 18, 'B', 'C', '003', 'C3'),
    ('N042', 'Mangetsu Hozuki', 20, 'A', 'J', '003', 'C3'),
    ('N043', 'Kisame Hoshigaki', 32, 'S', 'J', '003', 'C7')
ON CONFLICT (id_ninja) DO NOTHING;

INSERT INTO Time_Missao (id_missao, id_time) VALUES
    -- T001 - mais missÃµes e mais S
    ('M001','T001'),
    ('M002','T001'),
    ('M011','T001'),
    ('M016','T001'),
    ('M017','T001'),
    ('M021','T001'),
    ('M026','T001'),

    -- T002
    ('M003','T002'),
    ('M004','T002'),
    ('M012','T002'),
    ('M018','T002'),
    ('M022','T002'),
    ('M027','T002'),

    -- T003
    ('M005','T003'),
    ('M006','T003'),
    ('M013','T003'),
    ('M019','T003'),
    ('M023','T003'),
    ('M028','T003'),

    -- T004
    ('M007','T004'),
    ('M014','T004'),
    ('M016','T004'),
    ('M020','T004'),
    ('M024','T004'),
    ('M026','T004'),
    ('M029','T004'),

    -- T005
    ('M008','T005'),
    ('M015','T005'),
    ('M017','T005'),
    ('M021','T005'),
    ('M025','T005'),
    ('M030','T005'),

    -- T006
    ('M009','T006'),
    ('M011','T006'),
    ('M018','T006'),
    ('M022','T006'),
    ('M026','T006'),

    -- T007
    ('M010','T007'),
    ('M012','T007'),
    ('M019','T007'),
    ('M023','T007'),
    ('M027','T007'),

    -- T008
    ('M001','T008'),
    ('M013','T008'),
    ('M020','T008'),
    ('M021','T008'),
    ('M028','T008'),

    -- T009
    ('M002','T009'),
    ('M014','T009'),
    ('M016','T009'),
    ('M022','T009'),
    ('M029','T009'),

    -- T010
    ('M003','T010'),
    ('M015','T010'),
    ('M017','T010'),
    ('M023','T010'),
    ('M030','T010'),

    -- T011
    ('M004','T011'),
    ('M011','T011'),
    ('M018','T011'),
    ('M024','T011'),
    ('M027','T011'),

    -- T012
    ('M005','T012'),
    ('M012','T012'),
    ('M019','T012'),
    ('M025','T012'),
    ('M026','T012'),

    -- T013
    ('M006','T013'),
    ('M013','T013'),
    ('M020','T013'),
    ('M021','T013'),
    ('M027','T013'),

    -- T014
    ('M007','T014'),
    ('M014','T014'),
    ('M017','T014'),
    ('M022','T014'),
    ('M028','T014'),

    -- T015
    ('M008','T015'),
    ('M015','T015'),
    ('M018','T015'),
    ('M023','T015'),
    ('M029','T015')
ON CONFLICT (id_missao, id_time) DO NOTHING;

INSERT INTO Ninja_Time (id_ninja, id_time) VALUES
    -- Vila da Folha (001) -> Times T001 a T005

    -- T001 - Time Kakashi
    ('N001', 'T001'),  -- Itachi Uchiha (S)
    ('N002', 'T001'),  -- Sasuke Uchiha (A)
    ('N011', 'T001'),  -- Shikamaru Nara (A)
    ('N013', 'T001'),  -- Choji Akimichi (C)
    ('N015', 'T001'),  -- Ino Yamanaka (B)

    -- T002 - Time Asuma
    ('N003', 'T002'),  -- Shisui Uchiha (S)
    ('N004', 'T002'),  -- Fugaku Uchiha (A)
    ('N012', 'T002'),  -- Shikaku Nara (S)
    ('N014', 'T002'),  -- Choza Akimichi (C)
    ('N017', 'T002'),  -- Kiba Inuzuka (B)

    -- T003 - Time Kurenai
    ('N005', 'T003'),  -- Hinata Hyuga (A)
    ('N006', 'T003'),  -- Neji Hyuga (A)
    ('N007', 'T003'),  -- Hiashi Hyuga (S)
    ('N023', 'T003'),  -- Konohamaru Sarutobi (C)
    ('N024', 'T003'),  -- Nawaki Senju (B)

    -- T004 - Time Gai
    ('N008', 'T004'),  -- Hashirama Senju (S)
    ('N009', 'T004'),  -- Tobirama Senju (S)
    ('N018', 'T004'),  -- Tsume Inuzuka (A)
    ('N020', 'T004'),  -- Shibi Aburame (A)
    ('N025', 'T004'),  -- Arata Senju (B)

    -- T005 - Time Minato
    ('N010', 'T005'),  -- Tsunade Senju (S)
    ('N016', 'T005'),  -- Inoichi Yamanaka (A)
    ('N019', 'T005'),  -- Shino Aburame (A)
    ('N021', 'T005'),  -- Hiruzen Sarutobi (S)
    ('N022', 'T005'),  -- Asuma Sarutobi (A)

    -- Vila da Areia (002) -> Times T006 a T010

    -- T006 - Time Gaara
    ('N026', 'T006'),  -- Gaara (S)
    ('N027', 'T006'),  -- Temari (A)

    -- T007 - Time Temari
    ('N028', 'T007'),  -- Kankuro (A)
    ('N029', 'T007'),  -- Baki (A)

    -- T008 - Time Kankuro
    ('N030', 'T008'),  -- Yashamaru (B)
    ('N032', 'T008'),  -- Shira (A)

    -- T009 - Time Baki
    ('N031', 'T009'),  -- Maki (B)
    ('N033', 'T009'),  -- Suna Shinobi A (C)

    -- T010 - Time da Areia Elite
    ('N034', 'T010'),  -- Suna Shinobi B (C)
    ('N035', 'T010'),  -- Suna Médico (B)

    -- Vila da Névoa (003) -> Times T011 a T015

    -- T011 - Time Mei Terumi
    ('N036', 'T011'),  -- Mei Terumi (S)
    ('N039', 'T011'),  -- Chojuro (A)

    -- T012 - Time Chojuro
    ('N037', 'T012'),  -- Zabuza Momochi (A)
    ('N038', 'T012'),  -- Haku (B)

    -- T013 - Time Zabuza
    ('N040', 'T013'),  -- Ao (A)
    ('N041', 'T013'),  -- Suigetsu Hozuki (B)

    -- T014 - Time Espadachins da Névoa
    ('N042', 'T014'),  -- Mangetsu Hozuki (A)

    -- T015 - Time da Névoa Elite
    ('N043', 'T015')   -- Kisame Hoshigaki (S)
ON CONFLICT (id_ninja, id_time) DO NOTHING;

"""
with open("script.sql", "w") as f:
    f.write(script_sql)

!sudo -u postgres psql -d "$bd_name" -f script.sql

psql:script.sql:9: NOTICE:  relation "cla" already exists, skipping
CREATE TABLE
psql:script.sql:17: NOTICE:  relation "vila" already exists, skipping
CREATE TABLE
psql:script.sql:26: NOTICE:  relation "missao" already exists, skipping
CREATE TABLE
psql:script.sql:34: NOTICE:  relation "time" already exists, skipping
CREATE TABLE
psql:script.sql:42: NOTICE:  relation "invocacao" already exists, skipping
CREATE TABLE
psql:script.sql:52: NOTICE:  relation "chakra" already exists, skipping
CREATE TABLE
psql:script.sql:61: NOTICE:  relation "jutsu" already exists, skipping
CREATE TABLE
psql:script.sql:70: NOTICE:  relation "arma" already exists, skipping
CREATE TABLE
psql:script.sql:78: NOTICE:  relation "selo" already exists, skipping
CREATE TABLE
psql:script.sql:88: NOTICE:  relation "kekkeigenkai" already exists, skipping
CREATE TABLE
psql:script.sql:97: NOTICE:  relation "sensei" already exists, skipping
CREATE TABLE
psql:script.sql:112: NOTICE:  relation "ninja" already exists, skipping
CREATE TABLE
psql:script.sql:122: NOTICE:  relation "bijuu" already exists, skipping
CREATE TABLE
psql:script.sql:129: NOTICE:  relation "hokage" already exists, skipping
CREATE TABLE
psql:script.sql:137: NOTICE:  relation "mestres" already exists, skipping
CREATE TABLE
psql:script.sql:146: NOTICE:  relation "ninja_arma" already exists, skipping
CREATE TABLE
psql:script.sql:154: NOTICE:  relation "ninja_invocacao" already exists, skipping
CREATE TABLE
psql:script.sql:162: NOTICE:  relation "ninja_chakra" already exists, skipping
CREATE TABLE
psql:script.sql:170: NOTICE:  relation "jutsu_chakra" already exists, skipping
CREATE TABLE
psql:script.sql:178: NOTICE:  relation "selo_jutsu" already exists, skipping
CREATE TABLE
psql:script.sql:186: NOTICE:  relation "ninja_time" already exists, skipping
CREATE TABLE
psql:script.sql:194: NOTICE:  relation "time_missao" already exists, skipping
CREATE TABLE
psql:script.sql:202: NOTICE:  relation "ninja_kekkei" already exists, skipping
CREATE TABLE
INSERT 0 0
INSERT 0 0
INSERT 0 0
INSERT 0 0
INSERT 0 0
INSERT 0 0
INSERT 0 0

In [74]:
!pip install psycopg2-binary

import psycopg2
import pandas as pd

conn = psycopg2.connect(
    dbname=bd_name,
    user="postgres",
    password="postgres",
    host="localhost"
)

cur = conn.cursor()
query = "SELECT * FROM Cla;"
cur.execute(query)
df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
print(df)
# df.to_csv("Cla.csv", index=False)
# print("CSV gerado com sucesso!")
cur.close()
conn.close()

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.12/dist-packages (2.9.11)
  id_cla  nome_cla
0     C1    Uchiha
1     C2     Hyuga
2     C3     Senju
3     C4      Nara
4     C5  Akimichi
5     C6  Yamanaka
6     C7   Inuzuka
7     C8   Aburame
8     C9  Sarutobi
9    C10     Senju

In [75]:
conn = psycopg2.connect(
    dbname=bd_name,
    user="postgres",
    password="postgres",
    host="localhost"
)

cur = conn.cursor()

# SELECT para verificar
query_select = "SELECT * FROM Vila;"
cur.execute(query_select)
df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
print(df)
# df.to_csv("vila.csv", index=False)
# print("CSV gerado com sucesso!")

cur.close()
conn.close()

  id_vila      nome_vila
0     001  Vila da Folha
1     002  Vila da Areia
2     003  Vila da Névoa

In [76]:
# conn = psycopg2.connect(
#     dbname=bd_name,
#     user="postgres",
#     password="postgres",
#     host="localhost"
# )

# cur = conn.cursor()

# # 1. INSERT
# query_insert = """INSERT INTO Ninja (id_ninja, nome, idade, ranking,tipo, id_vila, id_cla) VALUES
# ('001', 'Itachi Uchiha', 18, 'S', 'J', '001', '001'),
# ('002', 'Mei Terumi', 31, 'S','J' , '003', '002'),
# ('003', 'Gaara', 18, 'S','J' , '002', '003');"""
# cur.execute(query_insert)
# conn.commit()  # ← Salva os dados!
# print("ninjas inseridas com sucesso!")

# # 2. SELECT para verificar (agora sim, fetchall())
# query_select = "SELECT * FROM Ninja;"
# cur.execute(query_select)
# df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
# print(df)
# df.to_csv("ninja.csv", index=False)
# print("CSV gerado com sucesso!")

# cur.close()
# conn.close()

In [77]:
conn = psycopg2.connect(
    dbname=bd_name,
    user="postgres",
    password="postgres",
    host="localhost"
)

cur = conn.cursor()

query = """
SELECT
    v.nome_vila AS nome_vila,
    c.nome_cla AS clan,
    n.nome_ninja AS ninja,
    n.idade,
    n.ranking,
    n.tipo
FROM Ninja n
JOIN Vila v ON n.id_vila = v.id_vila
JOIN Cla c ON n.id_cla = c.id_cla
ORDER BY v.nome_vila, c.nome_cla, n.nome_ninja;

"""

cur.execute(query)
df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
print(df)
# df.to_csv("ninjas_completos.csv", index=False)
# print("CSV gerado com sucesso!")

        nome_vila      clan                ninja  idade ranking tipo
0   Vila da Areia   Aburame          Suna Médico     23       B    G
1   Vila da Areia   Aburame       Suna Shinobi B     21       C    C
2   Vila da Areia  Akimichi              Kankuro     17       A    J
3   Vila da Areia  Akimichi                Shira     20       A    C
4   Vila da Areia   Inuzuka       Suna Shinobi A     19       C    G
5   Vila da Areia      Nara                 Baki     35       A    J
6   Vila da Areia      Nara               Temari     17       A    J
7   Vila da Areia     Senju                Gaara     16       S    J
8   Vila da Areia  Yamanaka                 Maki     18       B    G
9   Vila da Areia  Yamanaka            Yashamaru     30       B    C
10  Vila da Folha   Aburame        Shibi Aburame     35       A    J
11  Vila da Folha   Aburame        Shino Aburame     16       A    C
12  Vila da Folha  Akimichi       Choji Akimichi     16       C    G
13  Vila da Folha  Akimichi       Choza Akimichi     34       C    J
14  Vila da Folha     Hyuga         Hiashi Hyuga     42       S    J
15  Vila da Folha     Hyuga         Hinata Hyuga     16       A    G
16  Vila da Folha     Hyuga           Neji Hyuga     17       A    J
17  Vila da Folha   Inuzuka         Kiba Inuzuka     16       B    G
18  Vila da Folha   Inuzuka        Tsume Inuzuka     33       A    J
19  Vila da Folha      Nara         Shikaku Nara     32       S    J
20  Vila da Folha      Nara       Shikamaru Nara     16       A    C
21  Vila da Folha  Sarutobi       Asuma Sarutobi     31       A    J
22  Vila da Folha  Sarutobi     Hiruzen Sarutobi     68       S    J
23  Vila da Folha  Sarutobi  Konohamaru Sarutobi     12       C    G
24  Vila da Folha     Senju          Arata Senju     20       B    C
25  Vila da Folha     Senju      Hashirama Senju     35       S    J
26  Vila da Folha     Senju         Nawaki Senju     12       B    G
27  Vila da Folha     Senju       Tobirama Senju     34       S    J
28  Vila da Folha     Senju        Tsunade Senju     36       S    J
29  Vila da Folha    Uchiha        Fugaku Uchiha     40       A    J
30  Vila da Folha    Uchiha        Itachi Uchiha     21       S    J
31  Vila da Folha    Uchiha        Sasuke Uchiha     16       A    C
32  Vila da Folha    Uchiha        Shisui Uchiha     19       S    J
33  Vila da Folha  Yamanaka     Inoichi Yamanaka     35       A    J
34  Vila da Folha  Yamanaka         Ino Yamanaka     16       B    G
35  Vila da Névoa     Hyuga           Mei Terumi     30       S    J
36  Vila da Névoa   Inuzuka     Kisame Hoshigaki     32       S    J
37  Vila da Névoa      Nara              Chojuro     20       A    C
38  Vila da Névoa     Senju      Mangetsu Hozuki     20       A    J
39  Vila da Névoa     Senju      Suigetsu Hozuki     18       B    C
40  Vila da Névoa    Uchiha                 Haku     15       B    G
41  Vila da Névoa    Uchiha       Zabuza Momochi     26       A    J
42  Vila da Névoa  Yamanaka                   Ao     28       A    J

In [78]:
conn = psycopg2.connect(
    dbname=bd_name,
    user="postgres",
    password="postgres",
    host="localhost"
)

cur = conn.cursor()

query = """
SELECT Ninja.nome_ninja AS nome_ninja,
    Vila.nome_vila AS nome_vila,
    COUNT(tm.id_missao) AS total_missoes,
    SUM(CASE WHEN Missao.ranking = 'S' THEN 1 ELSE 0 END) AS missoes_rank_s,
    ROUND(
        CAST(SUM(CASE WHEN Missao.ranking = 'S' THEN 1 ELSE 0 END) AS NUMERIC) /
        NULLIF(COUNT(tm.id_missao), 0) * 100, 2
    ) AS porcentagem_rank_s
FROM Ninja
INNER JOIN Vila ON Ninja.id_vila = Vila.id_vila
INNER JOIN Ninja_Time nt ON Ninja.id_ninja = nt.id_ninja
INNER JOIN Time_Missao tm ON nt.id_time = tm.id_time
INNER JOIN Missao ON tm.id_missao = Missao.id_missao
GROUP BY Ninja.nome_ninja, Vila.nome_vila;
"""
cur.execute(query)
df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
print(df)

             nome_ninja      nome_vila  total_missoes  missoes_rank_s  \
0          Hiashi Hyuga  Vila da Folha             11               3
1               Kankuro  Vila da Areia             10               2
2                    Ao  Vila da Névoa              9               2
3                  Baki  Vila da Areia             10               2
4      Hiruzen Sarutobi  Vila da Folha             10               2
5        Zabuza Momochi  Vila da Névoa              9               2
6       Hashirama Senju  Vila da Folha             10               2
7        Suna Shinobi B  Vila da Areia             10               2
8        Asuma Sarutobi  Vila da Folha             10               2
9                  Maki  Vila da Areia              9               2
10         Shikaku Nara  Vila da Folha             11               3
11        Shibi Aburame  Vila da Folha             10               2
12          Suna Médico  Vila da Areia             10               2
13                Shira  Vila da Areia              8               1
14         Nawaki Senju  Vila da Folha             11               3
15                 Haku  Vila da Névoa              9               2
16  Konohamaru Sarutobi  Vila da Folha             11               3
17         Hinata Hyuga  Vila da Folha             11               3
18       Tobirama Senju  Vila da Folha             10               2
19        Fugaku Uchiha  Vila da Folha             11               3
20       Shikamaru Nara  Vila da Folha              7               2
21     Kisame Hoshigaki  Vila da Névoa             10               2
22        Shisui Uchiha  Vila da Folha             11               3
23          Arata Senju  Vila da Folha             10               2
24        Itachi Uchiha  Vila da Folha              7               2
25        Sasuke Uchiha  Vila da Folha              7               2
26       Choji Akimichi  Vila da Folha              7               2
27        Tsume Inuzuka  Vila da Folha             10               2
28       Suna Shinobi A  Vila da Areia              9               2
29      Mangetsu Hozuki  Vila da Névoa             10               2
30               Temari  Vila da Areia              8               2
31     Inoichi Yamanaka  Vila da Folha             10               2
32           Neji Hyuga  Vila da Folha             11               3
33         Ino Yamanaka  Vila da Folha              7               2
34              Chojuro  Vila da Névoa              9               2
35            Yashamaru  Vila da Areia              8               1
36           Mei Terumi  Vila da Névoa              9               2
37        Tsunade Senju  Vila da Folha             10               2
38      Suigetsu Hozuki  Vila da Névoa              9               2
39         Kiba Inuzuka  Vila da Folha             11               3
40        Shino Aburame  Vila da Folha             10               2
41       Choza Akimichi  Vila da Folha             11               3
42                Gaara  Vila da Areia              8               2

   porcentagem_rank_s
0               27.27
1               20.00
2               22.22
3               20.00
4               20.00
5               22.22
6               20.00
7               20.00
8               20.00
9               22.22
10              27.27
11              20.00
12              20.00
13              12.50
14              27.27
15              22.22
16              27.27
17              27.27
18              20.00
19              27.27
20              28.57
21              20.00
22              27.27
23              20.00
24              28.57
25              28.57
26              28.57
27              20.00
28              22.22
29              20.00
30              25.00
31              20.00
32              27.27
33              28.57
34              22.22
35              12.50
36              22.22
37              20.00
38              22.22
39              27.27
40              20.00
41              27.27
42              25.00

In [79]:
# as consultas adicionadas até agora foram para testar! precisa:
# 1. adicionar alguns dados nas tabelas que vão ser usadas para o dw
# 2. fazer aquele esquema do dw